<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    
    <error-page>
        <error-code>400</error-code>
        <location>/jsp/error/400.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/jsp/error/500.jsp</location>
    </error-page>
</web-app>